
    h1, h2, h3 {
        background-color: rgba(251, 251, 243, 0.9);
        padding: 10px 20px; 
        display: block; 
        margin: 0;
    } 
    
    h1 {
        font-family: "oscine", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 7em;
        color: rgb(2, 1, 1);
        margin-top: 50vh;
        margin-left: 3vw;
        line-height: 1em;
    }
    
    h2 {
        font-family: "oscine", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 2em;
        color:rgb(0, 0, 0);
        margin-left: 3vw;
    }
    
    h3 {
        font-family: "oscine", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5em;
        color: rgba(199, 76, 39, 1);
        margin-left: 3vw;
    } 
    
    p {
        font-family: 'oscine';
        font-weight: 300;
        font-style: normal;
        color: rgba(199, 76, 39, 1);
        background-color: rgba(251, 251, 243, 0.9);
        text-align: center;
        padding: 15px;
        border-width: 2px;
        border-color: black;
        border-style: solid; 
        width: 100%;
        box-sizing: border-box;
        font-size: 18px;
    }
    
    b{
        font-family: "oscine", sans-serif;
        font-weight: 800;
        font-style: normal; 
    }
    
    .begin-page{
        position: relative;
        height: 100vh;
        overflow: hidden;
    }
    
    
    .background{
        height: 100vh;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    
    
    .quote-box {
        background-color: rgba(251, 251, 243, 0.9); /* Semi-transparent white background */
        padding: 20px;
        border-radius: 5px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        max-width: 80%; /* Maximum width of the quote box */
      }
      
      .quote-triangle  {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 100px 30px 0 20px; /* Adjust triangle size */
        border-color: rgba(251, 251, 243, 0.9) transparent transparent transparent; /* Match background-color of quote-box */
        position: absolute;
        bottom: 10px;
        left: 30px; /* Adjust position of triangle */
        transform: rotate(45deg); /* Rotate the triangle slightly to the right */
      }
    
    .image-container {
        position: relative; /* Ensure relative positioning for the container */
    }
    .background2{
        height: 100vh;
        width:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex; 
        /* position: absolute */
    }
    
    #rating {
        position: absolute;
        top: 380px;
        right: 80px;
        width: 485px;
        height: 125px;
        z-index: 2; 
        border: black;
        border-style: solid;
    }
    .color-box {
        position: absolute;
        background-color: rgba(190, 61, 61, 1);
        width: 100%;
        height: 600px;
        top: 250px;
        left: 0px;
        z-index: 1;
    }
    
    .color-box2 {
        position: absolute;
        background-color: rgba(190, 61, 61, 1);
        width: 100%;
        height: 300px;
        top: 625px;
        left: 0px;
        z-index: 1;
    }
    .header {
        height: 100vh;
        width:100%;
        background-image: url('background.jpg'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex; 
    }
    #textone{
        max-width: 100ch;
        position: absolute;
        top: 50px; /* Adjust as needed */
        left: 50px; /* Adjust as needed */
        z-index: 1;
        background-color: rgba(251, 251, 243, 0.9); /* Optional: Add a semi-transparent background */
        padding: 10px; /* Optional: Add padding for better readability */
    }
    
    #texttwo{
        max-width: 100ch;
        position: absolute;
        top: 600px; /* Adjust as needed */
        left: 400px; /* Adjust as needed */
        z-index: 1;
        background-color: rgba(251, 251, 243, 0.9); /* Optional: Add a semi-transparent background */
        padding: 10px; /* Optional: Add padding for better readability */
    }
    
    #textthree{
        max-width: 100ch;
        position: absolute;
        top: 700px; /* Adjust as needed */
        left: 400px; /* Adjust as needed */
        z-index: 1;
        background-color: rgba(251, 251, 243, 0.9); /* Optional: Add a semi-transparent background */
        padding: 10px; /* Optional: Add padding for better readability */
    }
    
    
    #textfour{
        max-width: 50ch;
        position: absolute;
        top: 200px; /* Adjust as needed */
        left: 350px; /* Adjust as needed */
        z-index: 1;
        background-color: rgba(251, 251, 243, 0.9); /* Optional: Add a semi-transparent background */
        padding: 50px; /* Optional: Add padding for better readability */
    }
    
    #textfive{
        max-width: 50ch;
        position: absolute;
        top: 200px; /* Adjust as needed */
        right: 80px; /* Adjust as needed */
        z-index: 1;
        background-color: rgba(251, 251, 243, 0.9); /* Optional: Add a semi-transparent background */
        padding: 50px; /* Optional: Add padding for better readability */
    }
    
    #textsix{
        max-width: 50ch;
        position: absolute;
        top: 500px; /* Adjust as needed */
        right: 80px; /* Adjust as needed */
        z-index: 1;
        background-color: rgba(251, 251, 243, 0.9); /* Optional: Add a semi-transparent background */
        padding: 50px; /* Optional: Add padding for better readability */
    }
    
    #textseven{
        max-width: 30ch;
        position: absolute;
        top: 250px; /* Adjust as needed */
        right: 1250px; /* Adjust as needed */
        z-index: 1;
        padding: 10px;
        border-color: transparent;
        background-color: transparent;
        color: rgba(251, 251, 243, 0.9);
    
    }
    
    #texteight{
        max-width: 30ch;
        position: absolute;
        top: 250px; /* Adjust as needed */
        right: 875px; /* Adjust as needed */
        z-index: 1;
        padding: 10px;
        border-color: transparent;
        background-color: transparent;
        color: rgba(251, 251, 243, 0.9);
    }
    
    #textnine{
        max-width: 30ch;
        position: absolute;
        top: 250px; /* Adjust as needed */
        right: 500px; /* Adjust as needed */
        z-index: 1;
        padding: 10px;
        border-color: transparent;
        background-color: transparent;
        color: rgba(251, 251, 243, 0.9);
    }
    
    #textten{
        max-width:30ch;
        position: absolute;
        top: 250px; /* Adjust as needed */
        right: 130px;; /* Adjust as needed */
        z-index: 3;
        border-color: transparent;
        background-color: transparent;
        color: rgba(251, 251, 243, 0.9);
    }
    
    #text11{
        max-width:50ch;
        position: absolute;
        top: 100px; /* Adjust as needed */
        left: 50px; /* Adjust as needed */
        z-index: 1;
        background-color: rgba(251, 251, 243, 0.9);
    }
    
    #text12{
        max-width:50ch;
        position: absolute;
        top: 230px; /* Adjust as needed */
        left: 50px; /* Adjust as needed */
        z-index: 1;
        background-color: rgba(251, 251, 243, 0.9);
    }
    
    #text13{
        max-width:50ch;
        position: absolute;
        top: 480px; /* Adjust as needed */
        left: 50px; /* Adjust as needed */
        z-index: 1;
        background-color: rgba(251, 251, 243, 0.9);
    }
    
    #text14{
        max-width:50ch;
        position: absolute;
        top: 610px; /* Adjust as needed */
        left: 50px; /* Adjust as needed */
        z-index: 1;
        background-color: rgba(251, 251, 243, 0.9);
    }
    
    
    #text15{
        max-width:40ch;
        position: absolute;
        top: 650px; /* Adjust as needed */
        right: 1200px; /* Adjust as needed */
        z-index: 3;
        border-color: transparent;
        background-color: transparent;
        color: rgba(251, 251, 243, 0.9);
    }
    
    #text16{
        max-width:40ch;
        position: absolute;
        top: 650px; /* Adjust as needed */
        right: 835px; /* Adjust as needed */
        z-index: 3;
        border-color: transparent;
        background-color: transparent;
        color: rgba(251, 251, 243, 0.9);
    }
    
    #text17{
        max-width:40ch;
        position: absolute;
        top: 650px; /* Adjust as needed */
        right: 470px; /* Adjust as needed */
        z-index: 3;
        border-color: transparent;
        background-color: transparent;
        color: rgba(251, 251, 243, 0.9);
    }
    
    #text18{
        max-width:40ch;
        position: absolute;
        top: 650px; /* Adjust as needed */
        right: 100px;; /* Adjust as needed */
        z-index: 3;
        border-color: transparent;
        background-color: transparent;
        color: rgba(251, 251, 243, 0.9);
    }
    
    #text19{
        max-width:50ch;
        position: absolute;
        top: 50px; /* Adjust as needed */
        left: 100px; /* Adjust as needed */
        z-index: 3;
        background-color: rgba(251, 251, 243, 0.9);
    }
    
    #text20{
        max-width:50ch;
        position: absolute;
        top: 240px; /* Adjust as needed */
        left: 100px; /* Adjust as needed */
        z-index: 3;
        background-color: rgba(251, 251, 243, 0.9);
    }
    
    #text21{
        max-width:50ch;
        position: absolute;
        top: 405px; /* Adjust as needed */
        left: 100px; /* Adjust as needed */
        z-index: 3;
        background-color: rgba(251, 251, 243, 0.9);
    }
    
    #text22{
        max-width:50ch;
        position: absolute;
        top: 590px; /* Adjust as needed */
        left: 100px; /* Adjust as needed */
        z-index: 3;
        background-color: rgba(251, 251, 243, 0.9);
    }
    
    #text23{
        max-width:150ch;
        position: absolute;
        top: 300px; /* Adjust as needed */
        left: 100px; /* Adjust as needed */
        z-index: 3;
        color:rgba(251, 251, 243, 1);
        background-color: rgba(199, 76, 39, 1);
    }
    
    #box1 { 
        position: absolute;
        width:300px;
        height: 300px;
        top: 500px; /* Adjust as needed */
        right: 1250px; /* Adjust as needed */
        z-index: 3;
        border-style: solid;
        border-color: black;
        border-width: 3px;
    }
    
    #box2 {
        position: absolute;
        width:300px;
        height: 300px;
        top: 500px; 
        right: 870px; /* Adjust as needed */
        z-index: 3;
        border-style: solid;
        border-color: black;
        border-width: 3px;
        
    }
    
    #box3 {
        position: absolute;
        top: 500px; /* Adjust as needed */
        right: 490px;
        width:300px;
        height: 300px;
        z-index: 3;
        border-style: solid;
        border-color: black;
        border-width: 3px;
    }
    
    #box4 {
        position: absolute;
        top: 500px; 
        right: 115px;
        width:300px;
        height: 300px;
        z-index: 3;
        border-style: solid;
        border-color: black;
        border-width: 3px;
    }
    
    #box5 {
        position: absolute;
        top: 325px;
        right: 889px;
        width:60px;
        height: 60px;
        z-index: 3
    }
    .triangle {
        width: 0;
        height: 0;
        border-left: 10px solid transparent; /* Adjust thickness */
        border-right: 10px solid transparent; /* Adjust thickness */
        border-top: 500px solid rgba(199, 76, 39, 1); /* Adjust height and color */
        position: absolute;
        top: 290px; /* Adjust top position */
        left: 575px; /* Adjust left position */
        z-index: 3; /* Ensure it's above other elements */
        transform: rotate(-45deg); /* Rotate the triangle */
    }
    #triangle2 {
        width: 0;
        height: 0;
        border-left: 10px solid transparent; /* Adjust thickness */
        border-right: 10px solid transparent; /* Adjust thickness */
        border-top: 250px solid rgba(199, 76, 39, 1); /* Adjust height and color */
        position: absolute;
        top: 250px; /* Adjust top position */
        left: 500px; /* Adjust left position */
        z-index: 3; /* Ensure it's above other elements */
        transform: rotate(-45deg); /* Rotate the triangle */
    }
    #triangle3 {
        width: 0;
        height: 0;
        border-left: 10px solid transparent; /* Adjust thickness */
        border-right: 10px solid transparent; /* Adjust thickness */
        border-top: 200px solid rgba(199, 76, 39, 1); /* Adjust height and color */
        position: absolute;
        top: 155px; /* Adjust top position */
        left: 875px; /* Adjust left position */
        z-index: 3; /* Ensure it's above other elements */
        transform: rotate(-315deg)
    }
    #triangle4 {
        width: 0;
        height: 0;
        border-left: 10px solid transparent; /* Adjust thickness */
        border-right: 10px solid transparent; /* Adjust thickness */
        border-top: 200px solid rgba(199, 76, 39, 1); /* Adjust height and color */
        position: absolute;
        top: 635px; /* Adjust top position */
        left: 800px; /* Adjust left position */
        z-index: 3; /* Ensure it's above other elements */
        transform: rotate(115deg); /* Rotate the triangle */
    }
    #quote1{
    max-width: 50ch;
    position: absolute;
    top: 100px; /* Adjust as needed */
    left: 650px; /* Adjust as needed */
    z-index: 2;
    color: rgba(251, 251, 243, 0.9);
    background-color: rgba(199, 76, 39, 1); /* Optional: Add a semi-transparent background */
    padding: 20px; /* Optional: Add padding for better readability */
}
    
    #quote2{
        max-width: 50ch;
        position: absolute;
        top: 200px; /* Adjust as needed */
        left: 200px; /* Adjust as needed */
        z-index: 2;
        color: rgba(251, 251, 243, 0.9);
        background-color: rgba(199, 76, 39, 1); /* Optional: Add a semi-transparent background */
        padding: 20px;        
    }
    #quote3{
        max-width: 50ch;
        position: absolute;
        top: 750px; /* Adjust as needed */
        left: 500px; /* Adjust as needed */
        z-index: 2;
        color: rgba(251, 251, 243, 0.9);
        background-color: rgba(199, 76, 39, 1); /* Optional: Add a semi-transparent background */
        padding: 20px;     
    }


/* Media query for smaller devices (e.g., mobile phones) */
@media only screen and (max-width: 1000px) {
    /* Adjustments for smaller screens */
    #quote1, #quote2, #quote3, #triangle2, #triangle3, #triangle4{
        visibility: hidden;
    }

    /* Update header styles */
    h1 {
        font-size: 3em; /* Decrease font size */
        margin-top: 30vh; /* Adjust margin */
        margin-left: 2vw; /* Adjust margin */
    }
    h2 {
        font-size: 1.5em; /* Decrease font size */
        margin-left: 2vw; /* Adjust margin */
    }
    h3 {
        font-size: 1em; /* Decrease font size */
        margin-left: 2vw; /* Adjust margin */
    }

    /* Update paragraph styles */
    p {
        padding: 10px; /* Decrease padding */
        font-size: 14px;
    }

    .color-box, .color-box2, #box5, #rating{
        visibility: hidden;
    }
    /* Adjust positioning of elements */
    /* Update positions of text elements */
    #textone {
        top: 0px; /* Adjust position */
        left: 0px; /* Adjust position */
        max-width: 600px;
    }
    /* Update other text elements similarly */
    #texttwo {
        top: 50px;
        left: 0px;
    }

    #textthree{
        top: 200px;
        left: 0px;
    }
    #textfour{
        top: 50px;
        left: 0px;
    }
    #textfive{
        top: 50px;
        right: 0px;
    }

    #textsix{
        top: 370px;
        right: 0px;
    }

    #textseven{
        top: 0px;
        left: 0px;
        max-width: 25ch;
        color: rgba(199, 76, 39, 1);
        background-color: rgba(251, 251, 243, 0.9);
        padding: 5px;
        border-width: 2px;
        border-color: black;
        border-style: solid; 
        width: 100%;
        box-sizing: border-box;
    }
    #texteight{
        top: 210px;
        left: 0px;
        max-width: 25ch;
        color: rgba(199, 76, 39, 1);
        background-color: rgba(251, 251, 243, 0.9);
        padding: 5px;
        border-width: 2px;
        border-color: black;
        border-style: solid; 
        width: 100%;
        box-sizing: border-box;
    }
    #textnine{
        top: 355px;
        left: 0px;
        max-width: 25ch;
        color: rgba(199, 76, 39, 1);
        background-color: rgba(251, 251, 243, 0.9);
        padding: 5px;
        border-width: 2px;
        border-color: black;
        border-style: solid; 
        width: 100%;
        box-sizing: border-box;
    }
    #textten{
        top: 540px;
        left: 0px;
        max-width: 25ch;
        color: rgba(199, 76, 39, 1);
        background-color: rgba(251, 251, 243, 0.9);
        padding: 5px;
        border-width: 2px;
        border-color: black;
        border-style: solid; 
        width: 100%;
        box-sizing: border-box;
    }
    #text11, #text12, #text13, #text14{
        left:0
    }
    #text11{
        top:0px;
    }
    #text12{
        top: 125px;
    }
    #text13{
        top: 360px;
    }
    #text14{
        top: 480px;
    }


    #box1{
        top: 50px;
        right: 40px;
    }
    #box2{
        top: 235px;
        right: 40px;
    }
    #box3{
        top: 400px;
        right: 40px; 
    }
    #box4{
        top: 560px;
        right: 40px;
    }
    #text15{
        top: 0px;
        left: 0px;
        color: rgba(199, 76, 39, 1);
        background-color: rgba(251, 251, 243, 0.9);
        padding: 5px;
        border-width: 2px;
        border-color: black;
        border-style: solid; 
        width: 100%;
        box-sizing: border-box;
    }
    #text16{
        top: 215px;
        left: 0px;
        color: rgba(199, 76, 39, 1);
        background-color: rgba(251, 251, 243, 0.9);
        padding: 5px;
        border-width: 2px;
        border-color: black;
        border-style: solid; 
        width: 100%;
        box-sizing: border-box;
    }
    #text17{
        top: 310px;
        left: 0px;
        color: rgba(199, 76, 39, 1);
        background-color: rgba(251, 251, 243, 0.9);
        padding: 5px;
        border-width: 2px;
        border-color: black;
        border-style: solid; 
        width: 100%;
        box-sizing: border-box;
    }
    #text18{
        top: 425px;
        left: 00px;
        color: rgba(199, 76, 39, 1);
        background-color: rgba(251, 251, 243, 0.9);
        padding: 5px;
        border-width: 2px;
        border-color: black;
        border-style: solid; 
        width: 100%;
        box-sizing: border-box;
    }
    #text19, #text20, #text21, #text22{
        left: 5px
    }
    #text19{
        top: 0px;
    }
    
    #text20{
        top: 175px;
    }
    
    #text21{
       top: 310px;
    }
    
    #text22{
        top: 470px;
    }

    #text23{
        left: 0px;
    }
    /* Adjust box sizes and positions */
    #box1, #box2, #box3, #box4, #box5 {
        width: 125px; /* Decrease box size */
        height: 125px; /* Decrease box size */
    }
    .triangle {
        visibility: hidden;
    }

}
